USE [master]
GO
/****** Object:  Database [MapIT]    Script Date: 26-09-2022 2:29:56 ******/
CREATE DATABASE [MapIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MapIT', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MapIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MapIT_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MapIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MapIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MapIT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26-09-2022 2:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMasters]    Script Date: 26-09-2022 2:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMasters](
	[itemCode] [nvarchar](25) NOT NULL,
	[description] [nvarchar](300) NOT NULL,
	[active] [bit] NOT NULL,
	[customerDescription] [nvarchar](300) NULL,
	[salesItem] [bit] NOT NULL,
	[stockItem] [bit] NOT NULL,
	[purchasedItem] [bit] NOT NULL,
	[barcode] [nvarchar](100) NOT NULL,
	[manageItemBy] [int] NOT NULL,
	[minimumInventory] [decimal](18, 0) NOT NULL,
	[maximumInventory] [decimal](18, 0) NOT NULL,
	[remarks] [nvarchar](max) NULL,
	[imagePath] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ItemMasters] PRIMARY KEY CLUSTERED 
(
	[itemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
